<%- layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center mb-5">
            Update Campground
        </h1>

        <hr>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="POST" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" id="title" type="text" name="title" placeholder="campground name" value="<%= campground.title %> " required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" id="price" type="text" name="price" placeholder="campground price" value= "<%= campground.price %>" required >
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" id="location" type="text" name="location" value="<%= campground.location %> " required
                        placeholder="campground location">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input class="form-control" id="image" type="text" name="image" value="<%= campground.image %> " required
                        placeholder="campground image" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea rows="6" class="form-control" id="description" type="text" name="description"
                        placeholder="campground description" required><%= campground.description %> </textarea>
                </div>


                <button class="btn btn-outline-dark mt-3" type="submit">Submit</button>
            </form>
        </div>
    </div>